    @media (min-width: 1440px) and (max-width: 1745px) {}
    
    @media (min-width: 1200px) and (max-width: 1439px) {}
    
    @media (min-width: 992px) and (max-width: 1199px) {}
    
    @media (min-width: 768px) and (max-width: 991px) {}
    
    @media (min-width: 550px) and (max-width: 767px) {}
    
    @media only screen and (max-width: 549px) {}
    
    @media only screen and (max-width: 365px) {}